{
  "plugins": [
    "emotion",
    [
      "i18next-extract",
      {
        "locales": ["en", "cs"],
        "keyAsDefaultValue": ["en"],
        "keyAsDefaultValueForDerivedKeys": ["en"],
        "useI18nextDefaultValue": true,
        "discardOldKeys": true,
        "outputPath": "./src/translations/{{locale}}/{{ns}}.json"
      }
    ],
    "react-hot-loader/babel"
  ]
}
