@import '~normalize.css';
@import '~@blueprintjs/core/lib/css/blueprint.css';
@import '~@blueprintjs/icons/lib/css/blueprint-icons.css';

html,
body,
#root {
	height: 100%;
}

:focus {
	outline: none;
}

#root .ant-form-explain {
	font-size: 12px;
}
